.form {
  display: none;

  &--open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  &__container {
    position: relative;
    padding: 21px 15px;
    margin: auto 20px;
    background-color: #fff;
    color: #070707;
    border-radius: 20px;

    &--hide {
      display: none;
    }
  }

  &__closed, &__answer-closed {
    position: absolute;
    top: 11px;
    right: 24px;
  }

  &__box {
    display: grid;
    gap: 9px;
  }

  &__input {
    padding: 10px 16px;
    margin-bottom: 4px;
    border: 1px solid #F1F1F1;
    border-radius: 14px;
    font-size: 14px;

    &--error {
      margin-bottom: 0;
      color: $red-color;
      border-color: $red-color;
    }
  }

  &__error-text {
    display: none;

    &--show {
      display: block;
      margin-bottom: 4px;
      font-size: 12px;
      color: $red-color;
    }
  }

  &__label {
    font-size: 14px;
    font-family: Outfit;
    font-weight: 500;
  }

  &__required {
    color: $red-color;
  }

  &__text {
    margin-top: 9px;
    line-height: 19px;

    & a {
      color: $violet;
      text-decoration: underline;
    }
  }

  &__button {
    margin-top: 13px;
    @extend %button;
    color: #fff;
    background-color: $gray_3;
  }

  &__answer {
    display: none;

    &--show {
      position: relative;
      display: grid;
      justify-items: center;
      padding: 61px 25px 41px;
      margin: auto 20px;
      background-color: #fff;
      color: #070707;
      border-radius: 20px;
    }
  }

  &__answer-super {
    margin-top: 17px;
    @extend %violet-button;
    color: #fff;
    padding: 16px 97px;
  }

  &__answer-title {
    margin-top: 22px;
    font-size: 24px;
    font-weight: 600;
    color: $violet;
  }

  &__answer-text {
    margin-top: 19px;
    font-size: 20px;
    line-height: 25px;
  }
}

@media (min-width: $tablet-width) {
  .form {
    &__container {
      padding: 43px 36px 39px;
      margin: 56px auto 20px;
      max-width: 422px;
    }

    &__text {
      margin-top: 7px;
    }

    &__button {
      width: fit-content;
    }
  }
}