.start {
  padding: 40px 16px;
  margin-top: 80px;

  &__container {
    padding: 39px 20px;
    display: grid;
    gap: 39px;
    border: 1px solid $gray_2;
    border-radius: 60px;
  }

  &__title {
    font-size: 40px;
    line-height: 43px;
    font-weight: 700;
    color: #000;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .start {
    &__container {
      padding: 60px 20px;
      gap: 39px;
      justify-content: center;
    }

    &__title {
      font-size: 64px;
      line-height: 68px;
    }

    &__button {
      width: fit-content;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1200px) {
  .start {
    padding: 100px 0;
    margin-top: 100px;
    
    &__container {
      max-width: 1320px;
      margin: 0 auto;
    }
  }
  
}