body {
  background-color: $dark-background;
  font-family: 'Outfit';
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
}

a {
  color: $text-color;
}

picture {
  display: block
}

.button-contact {
  @extend %violet-button;
}

.main-box {
  padding-bottom: 90px;
  background-color: $light-background;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (min-width: 1200px) {
  .main-box {
    padding-bottom: 100px;
  }
}