@font-face {
  font-family: 'Outfit';
  src:  url('../fonts/Outfit-Thin.ttf'), url('../fonts/Outfit-Thin.woff'), url('../fonts/Outfit-Thin.woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src:  url('../fonts/Outfit-Regular.ttf'), url('../fonts/Outfit-Regular.woff'), url('../fonts/Outfit-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src:  url('../fonts/Outfit-Medium.ttf'), url('../fonts/Outfit-Medium.woff'), url('../fonts/Outfit-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src:  url('../fonts/Outfit-SemiBold.ttf'), url('../fonts/Outfit-SemiBold.woff'), url('../fonts/Outfit-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Outfit';
  src:  url('../fonts/Outfit-Bold.ttf'), url('../fonts/Outfit-Bold.woff'), url('../fonts/Outfit-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}